@import '@influxdata/clockface/dist/variables.scss';

.multiaccountorg--header {
  height: 60px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 22px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.global-header-caret-right {
  font-size: 20px;
  color: $cf-grey-65;
}
