.multiaccountorg--header {
  height: 60px;
  padding-top: 0px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 22px;
  margin-top: 12px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
