.demodata-dropdown {
  margin-right: $cf-space-2xs;
}

.demodata-dropdown--item-contents {
  display: inline-flex;
  align-items: center;
}

.demodata-dropdown--item-icon {
  margin-right: $cf-space-2xs;
  display: none;
}

.demodata-dropdown--item,
.demodata-dropdown--item__added {
  padding-left: 6px;
  padding-right: 6px;
}

.demodata-dropdown--item__added,
.demodata-dropdown--item__added:hover {
  .demodata-dropdown--item-icon {
    display: block;
  }

  cursor: default;
  background: none !important;
  color: $c-honeydew !important;
}
