from datetime import datetime
import os

from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS

# You can generate an API token from the "API Tokens Tab" in the UI
token = os.getenv("INFLUX_TOKEN")
org = "<%= org %>"
bucket = "<%= bucket %>"

with InfluxDBClient(url="<%= server %>", token=token, org=org) as client:
