$selector-list--width: 228px;
$selector-list--margin: $ix-marg-b;
$selector-list--header-height: 30px;
$selector-list--header-margin: $ix-marg-b + $ix-border;

.selector-list--list {
  display: flex;
  flex: 1 1 0;
  flex-wrap: nowrap;
  height: 100%;

  > * {
    margin-left: $selector-list--margin * 0.5;
    margin-right: $selector-list--margin * 0.5;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.selector-list {
  border-radius: $radius;
  background-color: $cf-grey-15;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  flex: 0 0 $selector-list--width;
}

.selector-list--header {
  background-color: $cf-grey-25;
  display: flex;
  justify-content: flex-start;
}

.selector-list--title {
  display: inline-block;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: $cf-grey-65;
}

.selector-list--delete {
  flex: 0 0 $selector-list--header-height;
  height: $selector-list--header-height;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: $cf-grey-45;
    transition: background-color 0.25s ease;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    cursor: pointer;

    &:before,
    &:after {
      background-color: $c-dreamsicle;
    }
  }
}

.selector-list--hamburger {
  flex: 0 0 ($selector-list--header-height * 0.5);
  height: $ix-border;
  border-radius: $ix-border * 0.5;
  background-color: $cf-grey-35;
  margin-left: $selector-list--header-margin;
  position: relative;
  transition: background-color 0.25s ease;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $cf-grey-35;
    border-radius: $ix-border * 0.5;
    transition: background-color 0.25s ease;
  }

  &:before {
    transform: translateY(-200%);
  }

  &:after {
    transform: translateY(200%);
  }
}

.selector-list--draggable {
  display: flex;
  align-items: center;
  height: $selector-list--header-height;
  flex: 1 0 0;

  .selector-list--title {
    margin-left: $ix-marg-b;
    transition: color 0.25s ease;
  }

  &:hover {
    cursor: grab;
    .selector-list--title {
      color: $cf-grey-85;
    }
    .selector-list--hamburger,
    .selector-list--hamburger:before,
    .selector-list--hamburger:after {
      background-color: $cf-grey-85;
    }
  }
}

.selector-list--menu {
  border-bottom: $ix-border solid $cf-grey-25;
  padding: $ix-marg-b;
}

.selector-list--body {
  flex: 1 1 0;
  overflow: hidden;
}

.selector-list--empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: $cf-grey-45;

  > * {
    margin: $ix-marg-a 0;
  }
}

.selector-list--contents {
  padding: $ix-marg-b;
}
