.schema-section {
  .header {
    margin-bottom: 10px;
    .subtext {
      margin-top: 6px;
    }
  }

  .option {
    margin-bottom: 6px !important;
  }
}


.measurement-schema-panel {
  width: 80%;

  .schema-row {
    justify-content: space-between;
    width: 100%;
  }

}
