@import '@influxdata/clockface/dist/variables.scss';

.dnd-container {
  display: flex;
  align-items: center;

  .dnd {
    border: 2px dashed gray;
    border-radius: 3px;

    &.hasError {
      border-color: $c-dreamsicle;
      color: $c-dreamsicle;
    }

    input[type='file'].drag-and-drop--input {
      display: none;
    }

    .display-area {
      min-width: 150px;
      padding: 10px;
      text-align: center;

      &.active {
        color: black;
      }
    }

    &.active {
      background: lightgrey;
    }
  }
}

.schema-section {
  &.measurement {
    margin-top: 15px;
  }

  .schema-name-input {
    margin-right: 10px;
    width: 205px !important;
  }

  .file-name-read-only {
    width: 100%;
    height: 40px;
    font-size: small;
    padding-top: 12px;
  }

  .add-schema-uploader.drag-and-drop {
    height: 40px;
    border-color: lightgray;
    width: 155px;

    &.has-file {
      border: none;
    }

    .drag-and-drop--header {
      font-size: small;
      padding-top: 12px;
      color: lightgray;
    }
  }

  .header {
    margin-bottom: 10px;

    .subtext {
      margin-top: 6px;
      font-weight: 300;
    }
  }

  .title-text {
    color: $g14-chromium;
    font-weight: 500;
  }

  .value-text {
    color: $g20-white;
    font-weight: 500;
  }

  .option {
    margin-bottom: 6px !important;
  }

  .measurement-schema-panel-container {
    width: 100%;
    padding-left: 8px;
    border-radius: 10px;

    .measurement-schema-panel {
      width: 100%;
      margin-right: 5px;
      margin-left: 5px;

      .download-button {
        margin-right: 9px;
      }

      .schema-row {
        justify-content: space-between;
        width: 93%;
        margin-bottom: 8px;

        &.hasCancelBtn {
          width:98%;
        }
      }
    }
  }
}
