val point = Point
  .measurement("mem")
  .addTag("host", "host1")
  .addField("used_percent", 23.43234543)
  .time(Instant.now(), WritePrecision.NS);

val writeApi = client.getWriteKotlinApi()
writeApi.writePoint(point)
