@import '@influxdata/clockface/dist/variables.scss';

.threshold-trash-icon--block {
  margin-left: $cf-space-2xs;
  :hover {
    cursor: pointer;
  }
}

.threshold-add-icon--block:hover {
  cursor: pointer;
}
