package main

import (
  "context"
  "fmt"
  "os"
  "time"

   "github.com/influxdata/influxdb-client-go/v2"
)

func main() {
  // Create a client
  // You can generate an API Token from the "API Tokens Tab" in the UI
  client := influxdb2.NewClient("<%= server %>", os.Getenv("INFLUX_TOKEN"))
  // always close client at the end
  defer client.Close()
}

