.new-data-explorer-rightside {
  .cf-draggable-resizer--handle > .cf-draggable-resizer--handle-pill1,
  .cf-draggable-resizer--handle > .cf-draggable-resizer--handle-pill2,
  .cf-draggable-resizer--handle > .cf-draggable-resizer--gradient1,
  .cf-draggable-resizer--handle > .cf-draggable-resizer--gradient2 {
    width: 32px;
    height: 2px;
  }

  .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient1,
  .cf-draggable-resizer--handle-dragging > .cf-draggable-resizer--gradient2 {
    min-height: auto;
    width: calc(25% - 60px);
  }
}
