@import '@influxdata/clockface/dist/variables.scss';

.selector-title {
  padding: $cf-space-2xs 0;
}

.selector-title--icon {
  padding-left: $cf-space-2xs;
  color: $cf-grey-35;
}

.fields-tags-search-bar {
  padding: $cf-space-2xs 0;
}

.fields-selector .cf-accordion--icon,
.tag-keys-selector .cf-accordion--icon {
  color: gray;
}

.fields-selector--header,
.tag-keys-selector--header {
  background-color: transparent;
  min-height: 0;
  padding: 0;
}

.fields-selector--list-item,
.tag-keys-selector--list-item {
  padding: $cf-space-3xs 0 $cf-space-3xs $cf-space-2xs;
}