@import '@influxdata/clockface/dist/variables.scss';

.container-right-side-bar {
  margin-left: $cf-space-s;
  width: inherit;
  overflow-x: hidden;

  .flux-toolbar {
    flex-direction: column;
  }
}
