@import '@influxdata/clockface/dist/variables.scss';

.sql-view-options {
  padding-bottom: calc($cf-form-xs-height * 0.5);
  .cf-list {
    flex: 1 0 !important;

    .selector-list--item {
      height: $cf-form-xs-height;
    }
  }
  .view-options--smoothing-header {
    padding-top: calc($cf-form-xs-height * 0.5);
    height: $cf-form-lg-height;
    justify-content: space-between;
  }
  .sql-view-options--see-query {
    padding-top: $cf-form-xs-height;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
