@import '@influxdata/clockface/dist/variables.scss';

.cluster-box {
  display: flex;
  flex: 1;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 350px;

  > .cluster-box-logo {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
  }
}
