@import '@influxdata/clockface/dist/variables.scss';

.create-org-overlay-container {
  .create-org-overlay-body {
    .alert-error-message {
      width: 200px !important;
      background-color: red !important;
      margin: 50px;
    }
  }
}
