@import '@influxdata/clockface/dist/variables.scss';
.inputwithlabel-label {
  > label > div > div.cf-form--label-text {
    font-size: $cf-text-base-1;
  }

  > .cf-form--element > .cf-form--label {
    margin: 5px 0 !important;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal !important;
  }

  > .error-field-hack {
    height: 28.5px;
    width: 200px;
  }
}

.inputwithlabel-description {
  color: $cf-grey-65 !important;
  margin-bottom: 5px !important;
}
