@import '@influxdata/clockface/dist/variables.scss';

.provider-and-region-chooser {
  margin: 20px 0px;
  display: flex;

  > .prc-title {
    font-size: $cf-text-base-1;
    margin: 0px !important;
  }

  > .prc-description {
    color: $cf-grey-65 !important;
    margin: 5px 0 !important;
  }

  > .region-info {
    margin: 20px 0;
  }
}
