@import '@influxdata/clockface/dist/variables.scss';

.provider-and-region-chooser {
  margin: 20px 0px;
  display: flex;

  > .prc-label {
    margin: 0px !important;
    > .prc-description {
      margin: 0px 0 !important;
    }
  }

  > .region-info {
    margin: 0px;
  }

  .clusterbox--selectable-card {
    margin: 15px 5px;
    height: 200px;

    &:last-child {
      margin-right: 0px;
    }
    &:first-child {
      margin-left: 0px;
    }

    &.selected {
      border-color: red;
    }
  }
}
