# dotfiles
.cache
.DS_Store
.idea
.netrc
.package.json.swp
.swo
.swp
.vs
.vscode
.env

# directories
build
coverage
node_modules
vendor
release
cypress/downloads

# files
cypress.env.json
junit.xml
npm-error.log
yarn-error.log

# test files in /public used by dev frameworks
/public/test.*

# oats generated routes
src/client/annotationdRoutes.ts
src/client/cloudPrivRoutes.ts
src/client/flowsRoutes.ts
src/client/fluxdocsdRoutes.ts
src/client/generatedRoutes.ts
src/client/managedFunctionsRoutes.ts
src/client/mapsdRoutes.ts
src/client/notebooksRoutes.ts
src/client/pinnedItemRoutes.ts
src/client/subscriptionsRoutes.ts
src/client/uiproxydRoutes.ts
src/client/unityRoutes.ts
