# dotfiles
.cache
.DS_Store
.netrc
.package.json.swp
.swo
.swp
.vs
.vscode

# directories
build
coverage
node_modules
vendor

# files
cypress.env.json
junit.xml
npm-error.log
src/client/generatedRoutes.ts
