# this is the externally available public path
# that connects the client dev server to the correct
# host, in case you have to override it
BASE_PATH=/
API_BASE_PATH=/
STATIC_DIRECTORY=/static
PUBLIC=https://twodotoh.a.influxcloud.dev.local/
UI_SHA=local_dev_mode
CLOUD_URL=/auth

# NOTE: self signed certs aren't currently supported with
# the gateway oidc provider plugin
# PORT_HTTP=8080
# PORT_HTTPS=8443
PORT_HTTPS=8080
PORT=8080

INFLUXDB_ROOT=~/ui
CLOCKFACE_ROOT=~/clockface
GIRAFFE_ROOT=~/giraffe

#These parameters turn services in dev mode on and off
DEV_MODE_CLOCKFACE=0
DEV_MODE_GIRAFFE=0
