# this is the externally available public path
# that connects the client dev server to the correct
# host, in case you have to override it
BASE_PATH=/
API_BASE_PATH=/

# this is the publically available URL for local development that should be used in sync with KIND development
PUBLIC=https://twodotoh.a.influxcloud.dev.local/

# this is the UI_SHA available for local development that is overriden in production
UI_SHA=local_dev_mode

STATIC_DIRECTORY=/static
CLOUD_URL=/auth

# this PORT is the one reserved for local development in the KIND dev environment
PORT=8080
