@import '@influxdata/clockface/dist/variables.scss';

.cf-funnel-page--footer .cf-cta-button {
  margin: $cf-marg-c 0;
}

.powered-by-payment-header {
  width: 100%;
}

.billing-form--frame {
  position: relative;
}

.v2-zuora-form {
  min-height: 226px;
}

.checkout-form--banner {
  position: absolute !important;
  right: -90px;
  top: 19px;
  rotate: 45deg;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

  p {
    margin: 8px 0px;
  }
  .checkout-banner--credit {
    margin-top: 8px;
    color: black;
  }
}
/* Zuora Payment Widget */
#zuora_payment {
  & > iframe {
    background-color: transparent;
    width: 100%;
  }
}
