@import '@influxdata/clockface/dist/variables.scss';
@import '~src/flows/FlowVariables.scss';

.flow-panel--body .flux-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  flex-direction: column;
  background-color: $flow-panel--bg;
}
