@import '@influxdata/clockface/dist/variables.scss';
@import '~src/flows/FlowVariables.scss';

.flow-sidebar {
  .flux-toolbar {
    flex-direction: column;
  }
}

.flow-nonsidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;

  .flux-toolbar {
    flex-direction: column;
    background-color: $flow-panel--bg;
  }
}

.flow-panel--body {
  .flux-editor--monaco {
    height: 100%;
    position: static;
  }
}

.flow-sidebar--secrets-list {
  height: 100%;
}
