.import-template-overlay,
.import-template-overlay--empty {
  height: 500px;
  display: flex;
}

.import-template-overlay {
  align-items: stretch;
}

.import-template-overlay--templates {
  flex: 2 0 0;
  border-radius: $ix-radius;
}

.import-template-overlay--details {
  flex: 5 0 0;
  margin-left: $ix-marg-b;
}

.import-template-overlay--panel {
  min-height: 500px;
}

.import-template-overlay--name {
  margin-top: 0;
  margin-bottom: $ix-marg-b;
}

.import-template-overlay--description {
  margin-top: 0;
  margin-bottom: $ix-marg-d;
}

.import-template-overlay--heading {
  margin-top: 0;
  border-bottom: $ix-border solid $cf-grey-25;
  padding-bottom: $ix-marg-b;
}

.import-templates-overlay--included {
  margin-bottom: 0;
}

.import-template-overlay--name.missing,
.import-template-overlay--included.missing,
.import-template-overlay--description.missing {
  font-style: italic;
  color: $cf-grey-45;
}

.import-template-overlay--empty {
  background-color: $cf-grey-15;
  border-radius: $ix-radius;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.import-template-overlay--template {
  user-select: none;
  border-radius: $ix-radius;
  padding: $ix-marg-b;
  background-color: $cf-grey-5;
  margin-bottom: $ix-border;
  border: $ix-border solid $cf-grey-5;
  color: $cf-grey-65;
  display: flex;
  flex-wrap: none;
  align-items: center;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;

  &:hover {
    border-color: $cf-grey-25;
    background-color: $cf-grey-25;
    color: $cf-grey-95;
    cursor: pointer;
  }

  &.active {
    border-color: $c-rainforest;
    color: $cf-grey-95;
    background-color: $cf-grey-25;
  }
}

.import-template-overlay--list-label {
  font-size: 13px;
  font-weight: 500;
  margin-left: $ix-marg-b;
}
