library("influxdbclient")

# You can generate an API token from the "API Tokens Tab" in the UI
token = "<%= token %>"

client <- InfluxDBClient$new(url = "<%= server %>",
    token = token,
    org = "<%= org %>")
