library("influxdbclient")

# You can generate an API token from the "API Tokens Tab" in the UI
token = "<INFLUX_TOKEN>"

client <- InfluxDBClient$new(url = "<%= server %>",
    token = token,
    org = "<%= org %>")
