library("influxdbclient")

# You can generate a Token from the "Tokens Tab" in the UI
token <- "<%= token %>"

client <- InfluxDBClient$new(url = "<%= server %>",
    token = token,
    org = "<%= org %>")
