@import '@influxdata/clockface/dist/variables.scss';

#mktoForm_2826 {
  display: none;
}

.marketo-upgrade-account-overlay--body {
  p {
    font-size: $cf-text-base-1;
    margin-block-start: 0px;
  }
}
