@import '@influxdata/clockface/dist/variables.scss';

$flow-header-height: 46px;

$flow-panel--gutter: $cf-marg-d;
$flow-panel--bg: mix($g1-raven, $g2-kevlar, 50%);
$flow-panel--node-gap: $cf-marg-d + $cf-marg-b;
$flow-panel--node-dot: 20px;

$flow-divider-height: ($cf-marg-a * 2) + $cf-border;
$flow-divider-color: $g2-kevlar;

$flow-minimap--expanded: 270px;
