@import '@influxdata/clockface/dist/variables.scss';

$flow-header-height: 46px;

$flow-panel--gutter: $cf-marg-d;
$flow-panel--bg: $g3-castle;

$flow-panel--node-gap: $cf-marg-d + $cf-marg-b;
$flow-panel--node-dot: 16px;

$flow-panel--insert-gap: (
    $flow-panel--node-gap + $cf-marg-b - $cf-form-sm-height
  ) / 2;

$flow-panel--insert-connector: (
    ($flow-header-height - $flow-panel--node-dot) / 2
  ) + $flow-panel--insert-gap;
