@import '@influxdata/clockface/dist/variables.scss';

.plugin-create-configuration-name-row,
.plugin-create-configuration-description-row {
  display: flex;
  align-items: flex-end;
}

.plugin-create-configuration-copy-to-clipboard--button,
.plugin-create-configuration-download--button {
  margin-bottom: $cf-space-2xs;
}

.plugin-create-configuration--editor {
  margin-top: $cf-space-2xs;
}

.plugin-create-configuration--notify-agent-output {
  font-style: italic;
}
