@import '@influxdata/clockface/dist/variables.scss';

.write-data--item.cf-selectable-card.cf-selectable-card__xs
  .cf-selectable-card--label {
  color: $cf-white;
}

.write-data--item {
  .cf-selectable-card--children {
    filter: unset !important;
  }
}

.write-data--item-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
  height: 90%;

  img {
    max-width: 100%;
    max-height: 80px;
  }
}

.write-data--item.cf-selectable-card .cf-selectable-card--children {
  position: relative;
}

.load-data-cards--tag {
  position: absolute;
  bottom: -($cf-space-m);
  right: -($cf-space-s);
  color: $cf-grey-65;
  font-size: $cf-text-base--1;
}