@import '@influxdata/clockface/dist/variables.scss';

.visualization--simple-table {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

  .cf-dapper-scrollbars {
    border-bottom: $cf-border solid $g2-kevlar;
  }

  .cf-dapper-scrollbars--track-x {
    background-color: rgba($g3-castle, 0.5) !important;
  }

  .cf-table {
    border: 2px solid $g6-smoke;
    margin-bottom: 10px;
    width: 100%;
  }

  .cf-table--header-cell,
  .cf-table--cell {
    padding: 4px 10px;
    white-space: nowrap;
  }

  .cf-table--header-cell label {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: $g9-mountain;
    font-weight: 500;

    &:first-of-type {
      padding-top: 2px;
    }
  }
}

.visualization--simple-table--results {
  flex: 1 0 0;
  position: relative;
}

.visualization--simple-table--paging {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  align-items: center;
}

.visualization--simple-table--paging-label {
  display: inline-block;
  margin-right: $cf-marg-b;
  color: $g13-mist;
  font-weight: $cf-font-weight--medium;
}

.visualization--simple-table--paging-button {
  margin-left: $cf-marg-b;
}

