.cloud-upgrade-banner {
  display: block;
}

.cloud-upgrade-banner--button {
  text-align: center;
}

a.cloud-upgrade-banner__collapsed {
  text-align: center;
  border-radius: $cf-radius;
  margin: $cf-space-2xs 0;
  display: none;
  width: 100%;

  h5 {
    font-size: $cf-text-tiny;
    font-size: 0.9em;
    margin-bottom: $cf-space-3xs;
  }

  .cf-icon {
    font-size: 2.75em;
    margin-bottom: $cf-space-3xs;
  }
}

// Collapsed mode
@media screen and (min-width: $cf-nav-menu--breakpoint) {
  .cf-tree-nav__collapsed a.cloud-upgrade-banner__collapsed {
    display: inline-block;
  }
  .cf-tree-nav__collapsed .cloud-upgrade-banner {
    display: none;
  }
}
