.empty-graph-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: $cf-radius;
  background-color: $cf-grey-5;
  color: $c-dreamsicle;
  border: $cf-border solid $cf-grey-5;

  pre {
    font-size: 14px;
    padding: $cf-space-2xs;
    user-select: text !important;
    cursor: text;
  }
}

.empty-graph-error--icon {
  display: inline-block;
  margin-right: $cf-space-2xs;
}

.empty-graph-error--copy {
  margin-top: $cf-space-3xs;
  margin-right: $cf-space-3xs;
}

.empty-graph-error--scroll {
  width: 90% !important;
  margin-top: $cf-space-s;
}
