@import '~src/style/modules';

// the specificity here is important to override the dynamic
// base theme that monaco loads in at runtime
.react-monaco-editor-container > .monaco-editor {
  -webkit-user-select: text;
  font-family: $cf-code-font;
  font-weight: 500;
  font-size: 13px;

  .mtk1 {
    color: $cf-grey-75;
  }

  .minimap {
    border-left: 2px solid #4d4d60;

    .minimap-slider {
      background: rgba(53, 54, 64, 0.4);

      .minimap-slider-horizontal {
        background: rgba(53, 54, 64, 0.4);
      }

      &:hover {
        background: rgba(53, 54, 64, 0.4);
        .minimap-slider-horizontal {
          background: rgba(53, 54, 64, 0.4);
        }
      }
    }
  }

  .monaco-scrollable-element .scrollbar.vertical .slider {
    background: rgba(53, 54, 64, 0.6);
  }

  .scroll-decoration {
    box-shadow: #1b1b1b 0 6px 6px -6px inset;
  }

  .current-line ~ .line-numbers {
    color: #bec2cc;
  }

  // TODO: proper style
  .composition-block {
    background: #1a335a;
  }

  // TODO: use the icon
  .composition-sync-icon-on {
    background: lightgreen;
    border: 6px solid green;
    border-radius: 10px;
    height: 15px;
    width: 10px;
  }

  // TODO: use the icon
  .composition-sync-icon-off {
    background: lightgray;
    border: 6px solid gray;
    border-radius: 10px;
    height: 15px;
    width: 10px;
  }
}
