@import '~src/style/modules';

// the specificity here is important to override the dynamic
// base theme that monaco loads in at runtime
.react-monaco-editor-container > .monaco-editor {
  -webkit-user-select: text;
  font-family: $cf-code-font;
  font-weight: 500;
  font-size: 13px;

  .mtk1 {
    color: $cf-grey-75;
  }

  .minimap {
    border-left: 2px solid #4d4d60;

    .minimap-slider {
      background: rgba(53, 54, 64, 0.4);

      .minimap-slider-horizontal {
        background: rgba(53, 54, 64, 0.4);
      }

      &:hover {
        background: rgba(53, 54, 64, 0.4);
        .minimap-slider-horizontal {
          background: rgba(53, 54, 64, 0.4);
        }
      }
    }
  }

  .monaco-scrollable-element .scrollbar.vertical .slider {
    background: rgba(53, 54, 64, 0.6);
  }

  .scroll-decoration {
    box-shadow: #1b1b1b 0 6px 6px -6px inset;
  }

  .current-line ~ .line-numbers {
    color: #bec2cc;
  }
}

.flux-editor--monaco {
  position: relative;
  overflow: hidden;

  #schema-composition-sync-icon {
    position: absolute;
    top: 0px;
  }

  .sync-icon--on {
    > .cf-icon {
      color: $c-pool;
    }
  }

  .sync-icon--off {
    > .cf-icon {
      color: $cf-white;
      opacity: 50%;
    }
  }

  .composition-sync--on {
    background: #00a3ff26; // blue with 15% opacity
  }

  .composition-sync--on--first {
    border-top: 1px solid $c-pool;
  }

  .composition-sync--on--last {
    border-bottom: 1px solid $c-pool;
  }

  .composition-sync--off {
    opacity: 50%;
    background-color: $cf-grey-35;
  }

  .composition-sync--off--first {
    opacity: 50%;
    border-top: 1px solid $cf-white;
  }

  .composition-sync--off--last {
    opacity: 50%;
    border-bottom: 1px solid $cf-white;
  }
}
