@import '@influxdata/clockface/dist/variables.scss';

.tag-selector-count {
  flex: 0 0 30px;
  height: 30px;
  background-color: $cf-grey-5;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
  user-select: none;
  color: $c-pool;
  font-size: 13px;
}
