/*
  VersionInfo
  -----------------------------------------------------------------------------
*/

.version-info {
  border-top: 2px solid $cf-grey-25;
  padding-top: $cf-space-l;
  padding-bottom: $cf-space-l;
  color: $cf-grey-55;
  text-align: center;
}
