.tag-selector--search {
  margin-top: $ix-marg-a;
  width: initial !important;
}

.tag-selector--count {
  flex: 0 0 $form-sm-height;
  height: $form-sm-height;
  background-color: $cf-grey-5;
  border-radius: 50%;
  text-align: center;
  line-height: $form-sm-height;
  font-weight: 900;
  user-select: none;
  color: $c-pool;
  font-size: 13px;
}

