/*
  View Options Styles
  ------------------------------------------------------------------------------
*/
@import 'src/style/modules';

.view-options--wrap {
  flex: 0 0 (420px - $cf-space-2xs);
  height: 100%;
  background-color: $cf-grey-15;
  margin-right: $cf-space-2xs;
  border-radius: $radius;
}

.view-options {
  padding: $cf-space-l;

  > .cf-grid--container > .cf-grid--row > .cf-grid--column {
    width: 100% !important;
  }
}

.view-options--header {
  @include no-user-select();
  font-weight: 500;
  color: $cf-grey-65;
}

h4.view-options--header {
  font-size: 16px;
  padding-top: $cf-space-s;
  border-top: $cf-border solid $cf-grey-25;
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-s;

  *:first-child > & {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

h5.view-options--header {
  font-size: 14px;
  border-bottom: $cf-border solid $cf-grey-25;
  margin-bottom: $cf-space-s;
  padding-bottom: $cf-space-3xs;
}

.view-options--checkbox {
  margin-bottom: $cf-space-s;
}

.column-option {
  font-family: $cf-code-font;
  font-size: 11px;
}
