@import '@influxdata/clockface/dist/variables.scss';

.homepage-wizard-language-tile {
  display: flex;
  h5 {
    margin: 0;
    align-self: flex-start;
  }
  svg {
    margin-top: 25%;
  }
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.homepage-onboarding-grid {
  margin-bottom: $cf-space-m;

  a {
    color: $cf-grey-75;
  }

  .cf-grid--row,
  .cf-grid--column {
    margin-bottom: $cf-space-m;

    :last-child {
      margin-bottom: auto;
    }
  }
}

.homepage-write-data-tile {
  > .tile-icon-text-wrapper {
    .icon {
      width: 60px;
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.homepage-write-data-tile {
  display: flex;
  background-color: #1a1a2a;
  padding: 22px;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  cursor: pointer;

  .tile-icon-text-wrapper {
    display: flex;
    align-items: center;

    h4,
    h6 {
      margin: 0;
    }
    h6 {
      margin-top: 18px;
    }
  }
  align-items: center;
  justify-content: space-between;

  .icon {
    margin-right: 15px;
  }

  .arrow-button {
    justify-self: flex-end;
    font-size: 38px;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-lg) {
  .homepage-onboarding-grid {
    margin-bottom: auto;

    .cf-grid--column {
      margin-bottom: auto;
    }
  }
}
