const {InfluxDB} = require('@influxdata/influxdb-client')

// You can generate a Token from the "Tokens Tab" in the UI
const token = '<%= token %>'
const org = '<%= org %>'

const client = new InfluxDB({url: '<%= server %>', token: token})

const queryApi = client.getQueryApi(org)

const query = `<%= query %>`

async function iterateRows() {
  for await (const {values, tableMeta} of queryClient.iterateRows(query)) {
    const o = tableMeta.toObject(values)
    console.log(`${o._time} ${o._measurement}: ${o._field}=${o._value}`)
  }
}
iterateRows()
