const queryApi = client.getQueryApi(org)

const query = `<%= query %>`

async function iterateRows() {
  for await (const {values, tableMeta} of queryClient.iterateRows(query)) {
    const o = tableMeta.toObject(values)
    console.log(`${o._time} ${o._measurement}: ${o._field}=${o._value}`)
  }
}
iterateRows()

