version: 2.1

jobs:
  e2e:
    machine:
      image: ubuntu-1604:202007-01
      docker_layer_caching: true
    parallelism: 8
    working_directory: ~/influxdata/ui
    resource_class: large
    steps:
      - checkout
      - run: docker login -u=$QUAY_USER -p=$QUAY_PASS quay.io
      - run:
          name: Build js and dependencies
          command: |
            set +e
            npx yarn install
            npx yarn generate
            npx yarn build:fast
      - run:
          name: Build web server
          command: docker build -t webserver:latest -f docker/Dockerfile.server .
      - run:
          name: Build ingress server
          command: docker build -t ingress:latest -f docker/Dockerfile.ingress ./docker
      - run:
          name: Start influxd
          command: docker run -d --net=host -p 9999:9999 --name influxd quay.io/influxdb/influxdb:2.0.0-beta influxd --store=memory --e2e-testing=true
      - run:
          name: Start ingress server and link to influxd
          command: docker run -d --net=host -p 443:443 ingress:latest
      - run:
          name: Start web server server and link to influxd
          command: docker run -d --net=host -p 8080:8080 webserver:latest
      - run:
          name: Run e2e tests
          command: |
            CYPRESS_baseUrl=https://localhost:443 npx yarn cypress run --browser chrome --spec "$(circleci tests glob "./cypress/e2e/**/*.test.ts" | circleci tests split --split-by=timings --timings-type=classname | paste -sd "," -)" --reporter cypress-circleci-reporter
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: test_results
  unit:
    docker:
      - image: circleci/golang:1.13-node-browsers
    working_directory: ~/influxdata/ui
    parallelism: 8
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'yarn-cached-packages-{{ checksum "yarn.lock" }}'
          name: 'Restore Yarn Package Cache'
      - run:
          command: |
            set +e
            npx yarn install
            npx yarn prettier
          name: 'Install Dependencies'
      - run: yarn generate
      - run:
          name: parallel jest tests
          command: |
            set +e
            TESTFILES=$(circleci tests glob "src/**/*.test.ts*" | circleci tests split --split-by=timings)
            npx yarn test:circleci $TESTFILES
      - store_test_results:
          path: coverage
      - store_artifacts:
          path: coverage
          destination: raw-test-output
      - save_cache:
          key: 'yarn-cached-packages-{{ checksum "yarn.lock" }}'
          name: 'Save Yarn Package Cache'
          paths:
            - ~/.cache/yarn
  lint:
    docker:
      - image: circleci/golang:1.13-node-browsers
    working_directory: ~/influxdata/ui
    parallelism: 8
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'yarn-cached-packages-{{ checksum "yarn.lock" }}'
          name: 'Restore Yarn Package Cache'
      - run:
          command: |
            set +e
            yarn install
          name: 'Install Dependencies'
      - run: yarn generate
      - run:
          name: parallel eslint
          command: |
            set +e
            TESTFILES=$(circleci tests glob "src/**/*.ts*" "cypress/**/*.ts*" | circleci tests split --split-by=filesize)
            yarn eslint:circleci $TESTFILES
      - save_cache:
          key: 'yarn-cached-packages-{{ checksum "yarn.lock" }}'
          name: 'Save Yarn Package Cache'
          paths:
            - ~/.cache/yarn

workflows:
  version: 2
  build:
    jobs:
      - unit
      - lint
  e2e:
    jobs:
      - e2e
