@import '@influxdata/clockface/dist/variables.scss';

.flow-visualization {
  background-color: $g2-kevlar;
  border-radius: $cf-radius;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.flow-visualization--header {
  width: 47px;
  flex: 0 0 47px;
}

.flow-visualization--view {
  width: 100%;
  border-radius: $cf-radius-sm;
  background-color: $g0-obsidian;
  padding: $cf-marg-b + $cf-marg-a;

  .empty-graph-error {
    height: 200px;
  }

  .time-machine-tables {
    height: 200px;
  }
}

.flow-visualization--dashboard-list {
  width: 300px;
  padding: $cf-marg-c;
  text-align: center;
  font-size: 14px;

  h4 {
    margin-top: 0;
  }
}

.flow-visualization--dashboard-list-section {
  margin-top: $cf-marg-c;
}

.flow-visualization--dashboard-list-label {
  display: inline-block;
  color: $g11-sidewalk;
  margin-bottom: $cf-marg-b;
}
