.community-templates-template-url {
  display: inline-block;
  margin-right: 15px;
}

.community-templates-template-url--feedback {
  margin-top: $cf-space-3xs;
  font-weight: $cf-font-weight--medium;
  padding-left: $cf-form-lg-padding;
}

.community-templates-template-url--feedback__error {
  color: $c-dreamsicle;
}

.community-templates-template-url--feedback__valid {
  color: $c-honeydew;
}

.community-templates-installer {
  margin-top: $ix-marg-c;
}

.community-templates--template-image {
  width: 54px;
  height: 54px;
}

.community-templates--template-name {
  color: $cf-white;
}

.community-templates--template-description {
  user-select: none;
  color: $c-neutrino;
  margin: 0;
  margin-top: $cf-space-2xs;

  strong {
    color: $cf-white;
    font-weight: $cf-font-weight--bold;
  }
}

.community-templates--item-description {
  color: $cf-grey-75;
  margin: $cf-space-3xs 0;
  line-height: 1.125em;

  &:last-child {
    margin-bottom: 0;
  }
}

.community-templates--item-description__blank {
  color: $cf-grey-45;
  font-style: italic;
}

.community-templates--list-header {
  display: flex;
  align-items: center;
  padding: $cf-space-3xs 0;
  transition: color 0.25s ease;
  color: $cf-grey-65;

  &:hover,
  .community-templates--list-group__expanded & {
    cursor: pointer;
    color: $cf-grey-95;
  }
}

.community-templates--list-counter {
  margin-left: $cf-space-2xs;
  opacity: 0.6;
}

.community-templates--list-group-items {
  padding-left: $cf-space-l;
}

.community-templates--list-toggle {
  width: $cf-space-l;
  height: $cf-space-l;
  position: relative;

  > .cf-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.25s ease;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .community-templates--list-group__expanded & > .cf-icon {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.community-templates--resources-table {
  margin-left: 1.4em;
  & > tbody > tr > td {
    padding-right: $cf-space-2xs;
    font-size: 13px;
  }
}

.community-templates--resources-table-toggle {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.community-templates--resources-table-caret {
  margin-right: $cf-space-2xs;
  transition: transform 0.25s ease;
}

.community-templates--resources-table-caret__expanded {
  transform: rotate(90deg);
}

.community-templates--resources-table-toggle h6,
.community-templates--resources-table-item {
  height: $cf-form-sm-height;
  line-height: $cf-form-sm-height;
}

.community-templates--readme {
  padding-top: $cf-space-l;
}
