/*
  Markdown Cell Styles
  ------------------------------------------------------------------------------
*/

.markdown-cell .cf-dapper-scrollbars--track-y {
  background-color: $cf-grey-5 !important;
}

.markdown-cell--contents {
  padding: $cf-space-2xs + $cf-space-3xs 26px;
  font-size: 1.2em;
}

/*
  General Markdown Formatting
  ------------------------------------------------------------------------------
  Despite being in this stylesheet, these styles are intended for use anytime
  the react-markdown component is used
*/

.markdown-format {
  color: $cf-grey-75;

  p {
    font-size: $cf-text-base;
    line-height: 1.55em;
    font-weight: $cf-font-weight--regular;
  }

  h3:not(.cf-heading) {
    font-size: $cf-text-base-3;
    font-weight: $cf-font-weight--medium;
    line-height: 1.25em;
    border-bottom: $cf-border solid $cf-grey-15;
    padding-bottom: 0.25em;
  }
  h4:not(.cf-heading) {
    font-size: $cf-text-base-2;
    font-weight: $cf-font-weight--medium;
    line-height: 1.25em;
    border-bottom: $cf-border solid $cf-grey-15;
    padding-bottom: 0.25em;
  }
  h5:not(.cf-heading) {
    font-size: $cf-text-base-1;
    font-weight: $cf-font-weight--medium;
    line-height: 1.25em;
  }

  strong {
    font-weight: $cf-font-weight--black;
    color: $cf-grey-85;
  }

  table:not(.cf-table) {
    border-collapse: collapse;
  }

  td:not(.cf-table--cell),
  th:not(.cf-table--header-cell) {
    padding: $cf-space-3xs $cf-space-2xs;
    border: $cf-border solid $cf-grey-25;
  }

  th:not(.cf-table--header-cell) {
    background-color: $cf-grey-25;
  }

  code {
    border-radius: $cf-radius-sm;
    margin: 0;
    padding: 2px 6px;
    color: $c-potassium;
    letter-spacing: 0;
    font-weight: $cf-font-weight--bold;
    background-color: $cf-grey-5;
  }

  pre {
    border-radius: $cf-radius-sm;
    padding: 6px;
    background-color: $cf-grey-5;

    code {
      padding: 0;
    }
  }

  img {
    border-radius: $cf-radius;
    max-width: 100%;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
