@import '@influxdata/clockface/dist/variables.scss';

// In Figma font-size is base-3, bt base-2 seems more consistent with intent.
.user-details-container--header {
  font-size: $cf-text-base-2;
  margin-bottom: $cf-space-m;
}

// Change User Account/Org
.change-account-org-container--button {
  align-self: flex-end;
  justify-self: flex-end;
}

.change-account-org-container--text {
  // Grey65
  color: #9e9ead;
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-2xs;
}

// In Figma font-size is base-3, bt base-2 seems more consistent with intent.
.change-account-org-container--header {
  font-size: $cf-text-base-2;
  margin-top: $cf-space-s;
}

.change-account-org-dropdown--container {
  margin-top: $cf-space-s;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: $cf-space-m;
}

.change-account-org-dropdown--header {
  margin-top: $cf-space-2xs !important;
  margin-bottom: $cf-space-3xs !important;
  padding-bottom: $cf-space-3xs !important;
}

.change-account-org--typeahead {
  width: 300px !important;
  margin-top: 0px;
}

// User Data Component
.user-data-field--container {
  width: 300px !important;
  margin-right: 35px;
  margin-bottom: $cf-space-s;
}

.user-data-field--header {
  font-size: $cf-text-base-0 !important;
  margin-top: $cf-space-3xs !important;
  margin-bottom: $cf-space-3xs !important;
}
