@import '@influxdata/clockface/dist/variables.scss';

.user-details-container--header {
  font-size: $cf-text-base-2;
  margin-bottom: $cf-space-s;
  color: white;
}

.change-account-org-container--button {
  align-self: flex-end;
  justify-self: flex-end;
}

.change-account-org-container--text {
  color: #88889b;
  font-size: $cf-text-base-0;
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-xs;
}

.change-account-org-container--header {
  font-size: $cf-text-base-2;
  margin-top: $cf-space-l;
}

.change-account-org-dropdown--container {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: $cf-space-m;
}

.change-account-org-dropdown--header {
  font-size: $cf-text-base-0 !important;
  margin-top: $cf-space-3xs !important;
  margin-bottom: $cf-space-3xs !important;
}

.change-account-org--typeahead {
  width: 368px !important;
  margin-top: 0px;
}

// User Data Component
.user-data-field--container {
  width: 368px !important;
  margin-right: 35px;
  margin-bottom: $cf-space-s;
}

.user-data-field--header {
  font-size: $cf-text-base-0 !important;
  margin-top: $cf-space-3xs !important;
  margin-bottom: $cf-space-3xs !important;
}

.user-data-field--default-account-org {
  width: 368px;
  border: 2px solid #333346;
  font-size: $cf-text-base-0;
  border-radius: 2px;
  padding: 12px;
  margin-bottom: 10px;
}

.user-profile-page--save-button {
  margin-top: $cf-space-l;
}

.user-profile-page--form-element {
  width: 400px;
}
