@import '@influxdata/clockface/dist/variables.scss';

.aws-logo {
  width: inherit;
  height: inherit;

  .a {
    opacity: 0;
  }
  .b,
  .c {
    fill: $g20-white;
  }
  .c {
    fill-rule: evenodd;
  }
  .aws-logo-smile {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ff9900;
  }

  &.aws-marketplace {
    width: inherit;
    margin: $cf-marg-d auto;
  }
}
