.gcp-logo {
  margin: 0px;
  width: 70px;
  height: 70px;
  transform: translateY(10%);

  .google-red {
    fill: #ea4335;
  }
  .google-blue {
    fill: #4285f4;
  }
  .google-green {
    fill: #34a853;
  }
  .google-yellow {
    fill: #fbbc05;
  }
}
