.publish-version-bullet--button {
  margin-right: 40px;

  &:hover {
    cursor: pointer;
  }
}

.publish-version-bullet--button::before {
  content: '';
  height: 25px;
  width: 4px;
  transform: translate(-480%, 0%) rotate(-90deg);

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    transform: translate(-380%, 0%) rotate(-90deg);
  }
  background: #333346;
  background: -moz-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: -webkit-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: linear-gradient(to bottom, #333346 0%, #8e1fc3 100%);
}

.publish-version--tooltip {
  padding: 10px;
}

.publish-version-bullet--button::after {
  content: '';
  height: 25px;
  width: 4px;
  transform: translate(480%, 0) rotate(90deg);

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    transform: translate(380%, 0%) rotate(90deg);
  }
  background: #333346;
  background: -moz-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: -webkit-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: linear-gradient(to bottom, #333346 0%, #8e1fc3 100%);
}

.active-version--button {
  box-shadow: 0 0 25px $cf-white;
}
