.publish-version-bullet--button {
  margin-right: 30px;

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    margin-right: 23px;
  }

  &:hover {
    cursor: pointer;
  }
}

.publish-version-bullet--button::before {
  content: '';
  height: 25px;
  width: 4px;
  transform: translate(-380%, 0%) rotate(-90deg);

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    height: 18px;
    transform: translate(-280%, 0%) rotate(-90deg);
  }
  background: #333346;
  background: -moz-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: -webkit-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: linear-gradient(to bottom, #333346 0%, #8e1fc3 100%);
}

.publish-version--tooltip {
  padding: 10px;
}

.publish-version-bullet--button::after {
  content: '';
  height: 25px;
  width: 4px;
  transform: translate(380%, 0) rotate(90deg);

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    height: 18px;
    transform: translate(280%, 0%) rotate(90deg);
  }
  background: #333346;
  background: -moz-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: -webkit-linear-gradient(top, #333346 0%, #8e1fc3 100%);
  background: linear-gradient(to bottom, #333346 0%, #8e1fc3 100%);
}

.publish-version--bullet:last-of-type {
  .publish-version-bullet--button::after {
    display: none;
  }
}

.active-version--button {
  box-shadow: 0 0 25px $cf-white;
}

.publish-version-draft {
  background: $cf-grey-45;
  margin-right: 30px;

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    margin-right: 23px;
    margin-bottom: 1px;
  }

  &:hover {
    cursor: pointer;
  }
}

.publish-version-draft::after {
  content: '';
  height: 25px;
  width: 4px;
  transform: translate(380%, 0) rotate(90deg);

  @media screen and (max-width: $cf-grid--breakpoint-md) {
    height: 18px;
    transform: translate(280%, 0%) rotate(90deg);
  }
  background: #333346;
  background: -moz-linear-gradient(top, #333346 0%, #78727a 100%);
  background: -webkit-linear-gradient(top, #333346 0%, #78727a 100%);
  background: linear-gradient(to bottom, #333346 0%, #78727a 100%);
}
