@import '@influxdata/clockface/dist/variables.scss';

$pool-fill: #00a3ff;

.homepage-wizard-container {
  color: $cf-grey-95;
  display: flex;
  height: 100%;
  width: 100%;

  padding-top: 71px;
  padding-right: 85px;

  overflow-y: scroll;
  padding-bottom: 185px;
}

.homepage-wizard-container--subway {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.homepage-wizard-container--main {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex: 1;

  padding-bottom: 64px;
}

.homepage-wizard-container--main-wrapper {
  h1 {
    margin-top: 0;
    font-weight: normal;
  }

  p {
    font-size: $cf-text-base-1;
  }

  &.overviewSection {
    margin-top: auto;
  }
}

.homepage-wizard-container-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

// Subway CSS

.subway-navigation-container {
  display: flex;
  justify-content: center;
}

.subway-navigation-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.subway-navigation-step-flex-wrapper {
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    width: $cf-border;
    pointer-events: none;
    z-index: 2;

    height: 30px;
    transform: translate(16px);
    background: white;
  }

  &:last-child:after {
    background: black;
  }

  &.stepIsComplete {
    &:after {
      background: $pool-fill;
    }
    &:last-child:after {
      background: black;
    }
  }
}

.subway-navigation-step {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subway-navigation-step-icon-container {
  border: $cf-grey-95 solid 2px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0);
  height: 34px;
  width: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 21px;
}

.showBorderColor .subway-navigation-step-icon-container {
  border-color: $pool-fill;
}

.subway-navigation-title {
  display: flex;
  align-items: center;
}

.subway-navigation-title-icon {
  margin-right: 14px;
}

.subway-navigation-title-text {
  h3 {
    margin: 0;
    font-weight: normal;
  }
  h6 {
    margin: 0;
    font-weight: normal;
  }
}

.subway-navigation-time-to-complete {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 34px;

  h5 {
    margin: 0;
    margin-left: 8px;
    font-weight: normal;
  }
}

// Write data helper CSS override for homepage experience

.write-data--details-widget-title {
  margin-bottom: $cf-space-2xs;
  padding-left: $cf-space-2xs + $cf-space-3xs;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.homepage-wizard-next-steps {
  display: flex;
  max-width: 300px;
  margin-top: 0 !important;
  h4 {
    background: linear-gradient(45deg, #fad9ff 0%, #f0fcff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    align-items: center;

    margin: 0;
    svg {
      margin-right: 10px;
    }
  }

  p {
    font-size: 14px;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
  }

  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    margin: 0;
  }
}
