@import '@influxdata/clockface/dist/variables.scss';
.update-broker-form {
  float: right;
  width: 75%;
  .cf-flex-box__margin-md.cf-flex-box__row.cf-flex-box__justify-flex-start > * {
    margin-right: 0;
  }
  .cf-form--element {
    margin-bottom: $cf-space-l;
    &:first-child {
      margin-right: $cf-space-s;
    }
  }
  .cf-overlay--header {
    justify-content: unset;
  }
  .cf-select-group.cf-select-group__stretch {
    margin-bottom: $cf-space-l;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__premium-container {
    margin-left: $cf-space-s;
    .cf-icon {
      background: -webkit-linear-gradient(45deg, #00a3ff 0%, #34bb55 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text {
      margin-left: $cf-space-s;
      text-transform: uppercase;
      background: -webkit-linear-gradient(45deg, #00a3ff 0%, #34bb55 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__header {
    text-transform: uppercase;
    margin-top: $cf-space-2xl;
    margin-bottom: $cf-space-l;
  }
  &__text {
    color: $cf-grey-95;
  }
  &__container {
    .cf-flex-box__margin-lg.cf-flex-box__row.cf-flex-box__justify-flex-start
      > * {
      margin-right: $cf-space-s;
    }
    &__protocol {
      width: 100%;
    }
  }
  &__example-text {
    font-style: italic;
    color: $cf-grey-55;
  }
  &__creds {
    .cf-form--element {
      &:nth-last-of-type(1) {
        margin-left: $cf-space-m;
        margin-bottom: 0;
      }
    }
  }
}
