@import '@influxdata/clockface/dist/variables.scss';
.update-broker-form {
  float: right;
  width: 75%;

  &__fixed {
    position: fixed;
    background-color: $cf-grey-5;
    background-attachment: fixed;
    z-index: 10;
    padding-bottom: 20px;

    &__broker-buttons {
      padding-top: 46px;
      padding-left: 24px;
      padding-right: 24px;

      button {
        margin-left: 8px;
      }
    }
  }

  &__link {
    margin-bottom: 24px;
  }

  .cf-overlay--body {
    padding-top: 50px;
  }
  button {
    margin-left: 4px;
  }
  .cf-flex-box__margin-md.cf-flex-box__row.cf-flex-box__justify-flex-start > * {
    margin-right: 0;
  }
  .cf-form--element {
    margin-bottom: $cf-space-l;
    &:first-child {
      margin-right: $cf-space-s;
    }
  }
  .cf-overlay--header {
    justify-content: unset;
  }
  .cf-select-group.cf-select-group__stretch {
    margin-bottom: $cf-space-l;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__header {
    text-transform: uppercase;
    margin-top: $cf-space-2xl;
    margin-bottom: $cf-space-l;
  }
  &__text {
    color: $cf-grey-95;
  }
  &__container {
    .cf-flex-box__margin-lg.cf-flex-box__row.cf-flex-box__justify-flex-start
      > * {
      margin-right: $cf-space-s;
    }
    &__protocol {
      width: 100%;
    }
  }
  &__example-text {
    font-style: italic;
    color: $cf-grey-55;
    margin-bottom: $cf-space-m;
  }
  &__creds {
    .cf-form--element {
      &:nth-last-of-type(1) {
        margin-left: $cf-space-m;
        margin-bottom: 0;
      }
    }
  }
  &__line {
    background: linear-gradient(
      256.11deg,
      rgba(147, 148, 255, 0.2) 0%,
      rgba(81, 60, 198, 0.2) 100%
    );
    height: 3px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
