@import '@influxdata/clockface/dist/variables.scss';

.no-margin-bottom {
  margin-bottom: $cf-space-s !important;
}
.create-broker-form {
  float: right;
  width: 75%;

  &__fixed {
    position: fixed;
    background-color: $cf-grey-5;
    background-attachment: fixed;
    z-index: 10;
    padding-bottom: 20px;
    right: 0;

    &__broker-buttons {
      padding-top: 46px;
      padding-left: 24px;
      padding-right: 24px;

      button {
        margin-left: 8px;
      }
    }
  }

  .cf-flex-box__margin-md.cf-flex-box__row.cf-flex-box__justify-flex-start > * {
    margin-right: 0;
  }
  .cf-form--element {
    margin-bottom: $cf-space-l;
    &:first-child {
      margin-right: $cf-space-s;
    }
  }
  .cf-overlay--header {
    justify-content: unset;
  }

  &__broker-header {
    padding-top: 150px;
    margin-bottom: 25px;
  }
  .cf-select-group.cf-select-group__stretch {
    margin-bottom: $cf-space-l;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__header {
    text-transform: uppercase;
    margin: $cf-space-l 0;
  }
  &__text {
    color: $cf-grey-95;
  }
  &__upgrade-text {
    background: -webkit-linear-gradient(45deg, #34bb55 0%, $c-pool 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  &__container {
    .cf-flex-box__margin-lg.cf-flex-box__row.cf-flex-box__justify-flex-start
      > * {
      margin-right: $cf-space-s;
    }
    &__protocol {
      width: 100%;
    }
  }
  &__example-text {
    font-style: italic;
    color: $cf-grey-55;
    margin-bottom: $cf-space-m;
  }
  &__clientid-text {
    color: $cf-grey-55;
    margin-bottom: $cf-space-s;
  }
  &__clientid-textbox {
    margin-bottom: $cf-space-s !important;
  }
  &__creds {
    .cf-form--element {
      &:nth-last-of-type(1) {
        margin-left: $cf-space-m;
        margin-bottom: 0;
      }
    }
  }
  &__line {
    background: linear-gradient(
      256.11deg,
      rgba(147, 148, 255, 0.2) 0%,
      rgba(81, 60, 198, 0.2) 100%
    );
    height: 3px;
    margin: 0 12px;
    margin-bottom: 30px;
  }
}
