.create-page {
  padding-top: 16px;
}
.subscription-create {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    margin-left: 10px;
    display: flex;
  }

  .right {
    margin-right: 10px;
  }
}
