@import '@influxdata/clockface/dist/variables.scss';
.cloud-native-sources {
  .cf-flex-box__margin-lg.cf-flex-box__row.cf-flex-box__justify-flex-start > * {
    margin-right: 0;
  }
  .cf-heading {
    display: flex;
    align-content: center;
  }
  .cf-icon {
    background: -webkit-linear-gradient(45deg, #00a3ff 0%, #34bb55 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__premium-container {
    margin-left: $cf-space-s;
    &__text {
      margin-left: $cf-space-xs;
      text-transform: uppercase;
      background: -webkit-linear-gradient(45deg, #00a3ff 0%, #34bb55 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
