.create-subscription-page {
  display: flex;
  background: linear-gradient(
    45deg,
    rgba(33, 173, 246, 0.13) 0%,
    rgba(147, 148, 255, 0.13) 100%
  );

  .cf-flex-box.cf-flex-box__stretch-h {
    padding-top: 20px;
  }
  .logo-text--lg {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }

  .progress {
    // margin-right: 88px;
    float: left;
    width: 25%;
  }

  .logo {
    display: flex;
    padding-top: 35px;
    img {
      margin-right: 20px;
    }
  }
  .logo-text--sm {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }

  .bar {
    margin-top: 67px;
    .wrap {
      margin-top: 40px;
      width: 100%;
      display: flex;
      align-items: center;

      .cf-button {
        background: transparent;
        border: 1px solid white;
        border-radius: 50%;

        &:hover {
          background: transparent;
          border: 1px solid #0098f0;
          border-radius: 50%;

          .cf-icon {
            background: #0098f0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      .cf-button:not([disabled]):hover:after {
        opacity: 0;
      }

      &--selected {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        .cf-button {
          background: transparent;
          border: 1px solid #0098f0;
          border-radius: 50%;
        }

        .cf-button:not([disabled]):hover:after {
          opacity: 0;
        }

        .cf-icon {
          background: #0098f0;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .title {
      font-size: 14px;
      line-height: 17px;
      margin-left: 21px;
      color: #d5d5dd;
      &:hover {
        color: #0098f0;
      }
      &--selected {
        color: #0098f0;
        font-size: 14px;
        line-height: 17px;
        margin-left: 21px;
      }
    }
  }
}
