.create-page {
  height: 100%;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}
.subscription-create {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .left {
    margin-left: 15px;
    display: flex;
  }

  .right {
    margin-right: 15px;
  }
}
