@import '@influxdata/clockface/dist/variables.scss';
.create-parsing-form {
  float: right;
  width: 75%;
  .cf-form--wrapper {
    padding-bottom: 50px;
  }

  &--line-protocol {
    float: right;
    width: 75%;
    .cf-form--wrapper {
      padding-bottom: 550px;
    }
  }
  .cf-overlay--header {
    justify-content: unset;
  }

  &__text {
    color: $cf-grey-95;
  }
  &__header {
    text-transform: uppercase;
    margin: $cf-space-l 0;
  }
  &__line {
    background: linear-gradient(
      256.11deg,
      rgba(147, 148, 255, 0.2) 0%,
      rgba(81, 60, 198, 0.2) 100%
    );
    height: 3px;
    margin: 0 12px;
    margin-bottom: 30px;
  }
}
