@import '@influxdata/clockface/dist/variables.scss';
.string-parsing-form {
  .line {
    background: linear-gradient(
      256.11deg,
      rgba(147, 148, 255, 0.2) 0%,
      rgba(81, 60, 198, 0.2) 100%
    );
    height: 3px;
    margin-top: $cf-space-l;
  }
  .cf-grid--column {
    margin-top: $cf-space-2xs;
    &:first-child {
      margin-top: $cf-space-m;
    }
  }
  .cf-grid--column:last-child {
    .cf-dropdown {
      max-width: 173px;
      float: right;
      margin-top: $cf-space-l;
      .cf-icon {
        margin-right: $cf-space-xs;
      }
    }
  }
  &__link {
    margin-top: 0;
  }
  &__header {
    text-transform: uppercase;
    margin: $cf-space-l 0;
  }

  &__container {
    .cf-form--element {
      margin-bottom: $cf-space-l;
    }
    &__dropdown {
      width: 25%;
      margin-left: $cf-space-m;
    }
  }
}
