.string-parsing-form {
  height: 100%;
  .form-header {
    font-size: 16.8px;
    margin-top: 64px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #f1f1f3;
  }
}
