@import '@influxdata/clockface/dist/variables.scss';
.subscriptions-landing {
  .cf-empty-state--md {
    padding-top: 246px;
  }
  .cf-page-contents {
    overflow: unset;
  }
  .subscriptions-list {
    padding-top: $cf-space-l;
  }
  .cf-page__gutter-md .cf-page-control-bar--fluid {
    padding: 0;
  }
}

.mqtt-alert {
  margin-bottom: $cf-space-l;
}
