@import '@influxdata/clockface/dist/variables.scss';
.update-subscription-form {
  float: right;
  width: 75%;
  .write-data--subscriptions-title {
    padding: $cf-space-2xs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $cf-grey-25;
    height: 56px;
  }
  .cf-overlay--header {
    justify-content: unset;
  }
  .cf-flex-box__margin-md.cf-flex-box__row.cf-flex-box__justify-flex-start > * {
    margin-right: 0;
  }
  &__text {
    color: $cf-grey-95;
    margin-bottom: $cf-space-l;
  }
  &__header {
    text-transform: uppercase;
    margin-top: $cf-space-2xl;
    margin-bottom: $cf-space-l;
  }
  &__line {
    background: linear-gradient(
      256.11deg,
      rgba(147, 148, 255, 0.2) 0%,
      rgba(81, 60, 198, 0.2) 100%
    );
    height: 3px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
