@import '@influxdata/clockface/dist/variables.scss';
.subscription-error-scrollbars {
  max-height: 550px;
  min-height: 450px;
}
.subscription-errors-overlay {
  .subscription-errors-overlay-body {
    min-height: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #1a1a2a;
    color: #dd84f1;

    > .status-header {
      font-size: var(--step-1);
      display: flex;
      font-weight: bold;
      margin: 10px;

      > .timestamp {
        flex: 1;
        display: flex;
        align-items: center;
      }
      > .message {
        display: flex;
        flex: 3;
        align-items: center;
      }
    }
    > .status-row {
      font-size: var($cf-text-base);
      display: flex;
      margin: 5px;

      > .timestamp {
        display: flex;
        flex: 1;
      }
      > .message {
        display: flex;
        flex: 3;
      }
    }
  }
}
