@import '@influxdata/clockface/dist/variables.scss';
.copy-subscription-id {
  transition: color 0.25s ease;

  &:hover {
    cursor: pointer;
    color: $c-pool;
  }
}

.copy-subscription-id--helper {
  color: $cf-grey-75;
  transition: opacity 0.25s ease;
  opacity: 0;
  display: inline-block;
  margin-left: $cf-space-2xs;
}

.copy-subscription-id:hover .copy-subscription-id--helper {
  opacity: 1;
}
