@import '@influxdata/clockface/dist/variables.scss';
.textareawithlabel-label {
  > .cf-form--element > .cf-form--label {
    margin: 5px 0 !important;
    font-weight: bold !important;
  }
}

.textareawithlabel-description {
  color: $cf-grey-65 !important;
  margin-bottom: 5px !important;
}
