/*
  CodeMirror "Markdown" Theme
  ------------------------------------------------------------------------------
  Intended for use with the Markdown CodeMirror Mode
*/

.cm-s-markdown {
  background-color: $cf-grey-5;
  color: $cf-grey-85;
  padding: 12px;
  border: 2px solid $cf-grey-25;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;

  &:hover {
    border-color: $cf-grey-35;
    cursor: text;
  }

  &.CodeMirror-focused {
    border-color: $c-pool;
    box-shadow: 0 0 6px 0 $c-pool;
  }

  .cm-italic {
    font-style: italic;
  }

  .cm-bold {
    font-weight: 900;
  }

  .cm-strikethrough {
    text-decoration: none;
    opacity: 0.5;
  }

  .cm-heading {
    color: $c-honeydew;
  }

  .cm-image {
    color: $c-comet;
  }

  .cm-link {
    color: $c-pool;
    text-decoration: none;
  }

  .cm-blockquote {
    color: $cf-grey-95;
    background-color: $cf-grey-15;
  }

  .CodeMirror-scrollbar-filler {
    background-color: transparent;
  }

  .CodeMirror-vscrollbar,
  .CodeMirror-hscrollbar {
    @include custom-scrollbar-round($cf-grey-5, $c-pool);
  }
}

.cm-s-markdown.CodeMirror-empty {
  font-style: italic;
  color: $cf-grey-45;
}
