/*
  CodeMirror "InfluxQL" Theme
  ------------------------------------------------------------------------------
  Intended for use with the influxQL CodeMirror Mode
*/

.cm-s-influxql {
  background-color: $cf-grey-5;
  color: $cf-grey-65;

  .cm-clause {
    color: $c-pool;
  }
  .cm-meta {
    color: $c-honeydew;
  }
  .cm-string {
    color: $cf-grey-85;
  }
  .cm-comment {
    color: $cf-grey-45;
  }
  .cm-number {
    color: $c-pineapple;
  }
  .cm-operator {
    color: $c-pool;
  }
  .cm-temp-var {
    color: $c-comet;
  }
  .cm-temp-system {
    color: #ff4d9e;
  }
  .cm-now {
    color: $c-pineapple;
  }
  .cm-null {
    color: $cf-grey-45;
    font-style: italic;
  }
}
