@import '@influxdata/clockface/dist/variables.scss';

.global-header--dropdown-button {
  background: transparent;
}
.global-header--typeahead-item {
  width: 100%;
  padding-left: 14px;
}

.global-header--typeahead-input {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.global-header--list {
  /* Works on Firefox */
  scrollbar-width: thin;
}

.global-header--list::-webkit-scrollbar {
  width: 4px !important;
}

.global-header--list::-webkit-scrollbar-track {
  background-color: rgba($cf-grey-95, 0.15);
  border-radius: 20px;
}

.global-header--list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  border-radius: 20px;
}

.button-icon {
  color: $cf-grey-75;
  margin-right: 8px;
  font-size: 18px;
  width: 18px;
}

.line-break {
  margin: 8px;
  background-color: rgba(241, 241, 243, 0.1);
}

.global-header--align-center {
  display: flex;
  align-items: center;
}

.global-header--switch-button {
  background-color: transparent !important;
}
