@import '@influxdata/clockface/dist/variables.scss';

.button-icon {
  color: $cf-grey-75;
  margin-right: 8px;
  font-size: 18px;
  width: 18px;
}

.global-header--dropdown-button {
  background: transparent;
}

.global-header--list {
  /* Works on Firefox */
  scrollbar-width: thin;
}

.global-header--list::-webkit-scrollbar {
  width: 4px !important;
}

.global-header--list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  border-radius: 20px;
}

.global-header--list::-webkit-scrollbar-track {
  background-color: rgba($cf-grey-95, 0.15);
  border-radius: 20px;
}

.global-header--main-dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.global-header--main-dropdown-item-link {
  width: 100%;
  border-radius: 2px;
  color: #ffffff !important;
  display: flex !important;
  font-weight: 400 !important;
  padding: 0px;
}

.global-header--switch-button {
  background-color: transparent !important;
}

.global-header--typeahead-input {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.global-header--typeahead-item {
  width: 100%;
  padding-left: 14px;
  height: 36px;
}

.line-break {
  margin: 6px 0;
  background-color: rgba(241, 241, 243, 0.1);
}

.section-break {
  margin: 10px 0;
  background-color: rgba(241, 241, 243, 0.1);
}

.upgrade-payg-add-org--button {
  @include gradient-diag-up($c-rainforest, $c-pool);

  > a {
    > span.button-icon {
      color: white;
    }

    > span.button-icon + span {
      font-weight: bold;
    }
  }
}
