.bucket-selectors {
  height: 30vh;
}

.bucket-selectors--buttons {
  padding: $ix-marg-b;
}

.button {
  &.bucket-selectors--button {
    background-color: $cf-grey-25;
  }
}

.title {
  align-content: center;
  text-align: center;
  color: $cf-grey-55;
  font-size: $cf-text-base-1;
  font-weight: $cf-font-weight--medium;
}
