.main-flexbox-child {
  width: 100%;
}

.flex-box-label {
  text-align: 'start';
  margin: 5px 0px;
}

.flexbox-child-label-read {
  align-items: 'left';
  margin-left: 20px;
}

.flexbox-child-label-write {
  align-items: 'left';
  margin-left: 20px;
}

.input-label-read {
  margin-left: 15px;
}

.input-label-write {
  margin-right: 50px;
}

.resource-accordion-body {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.resource-accordion-error {
  justify-content: center;
  color: gray;
}
