.cf-form--footer {
  position: relative;
  margin-top: 100px;
  justify-content: end;
}

.cf-page-contents__fluid {
  position: absolute;
}

.create-task-titles {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.cf-form--footer > * {
  margin: 0px;
}

.schedule-task,
.name-task,
.select-script {
  margin-top: 35px;
}

.schedule-task p {
  margin-top: 5px;
}

.task-name-input,
.script-dropdown,
.task-form-field {
  margin-top: 15px;
}

.task-form-labels {
  position: relative;
}

.schedule-tooltip {
  position: absolute;
}

.task-interval {
  left: 51px;
}

.task-offset {
  left: 52px;
}

.cf-input-field:focus,
.cf-input-field:hover {
  background-color: rgb(0, 0, 0);
}

.cf-form--label-text {
  font-weight: 600;
  font-size: 15px;
}

.form-divider {
  border-left: 1px solid rgba(220, 220, 220, 0.2);
  height: 755px;
}

.cf-col-xs-2 {
  width: 2%;
}

.script-params-list {
  margin-right: 15px;
}

.script-description {
  font-weight: 700;
  margin-top: 10px;
}

.script-name {
  margin-top: 12px;
}

.script-param {
  margin-top: 5px;
}

.create-script-btn {
  color: #00a3ff;
}
