.cf-form--footer {
  position: relative;
  margin-top: 20%;
  justify-content: end;
}

.cf-page-contents__fluid {
  position: absolute;
}

.create-task-titles {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.cf-form--footer > * {
  margin: 0px;
}

.schedule-task,
.name-task,
.select-script {
  margin-top: 35px;
}

.schedule-task p {
  margin-top: 5px;
}

.task-name-input,
.script-dropdown,
.task-form-field {
  margin-top: 15px;
}

.task-form-labels {
  position: relative;
}

.schedule-tooltip {
  position: absolute;
}

.interval {
  left: 51px;
}

.offset {
  left: 55px;
}

.cf-input-field:focus,
.cf-input-field:hover {
  background-color: rgb(0, 0, 0);
}

.cf-form--label-text {
  font-weight: 600;
  font-size: 15px;
}
