@import '@influxdata/clockface/dist/variables.scss';
$dashboard-grid-gap: $cf-space-2xs;

.pinned-items--header {
  font-weight: 400;
}

.pinneditems--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  border-radius: 18px;
  width: 100%;
  height: auto;
  grid-column-gap: $dashboard-grid-gap;
  grid-row-gap: $dashboard-grid-gap;
}

.pinneditems--emptystate {
  min-width: 380px;
}

.pinned-items--card {
  background: $cf-grey-25;
}

@media screen and (max-width: $cf-grid--breakpoint-md) {
  .pinneditems--container {
    grid-template-columns: minmax(0px, 1fr);
  }
}
