<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="InfluxDB<%= htmlWebpackPlugin.options.titleAdd %> is a time series platform, purpose-built by InfluxData for monitoring metrics and events, provides real-time visibility into stacks, sensors, and systems."
    />
    <title>InfluxDB<%= htmlWebpackPlugin.options.titleAdd %></title>
    <base href="/" />
    <%= htmlWebpackPlugin.options.header %>
  </head>
  <body>
    <div
      id="react-root"
      data-basepath="<%= htmlWebpackPlugin.options.base %>"
    ></div>
    <%= htmlWebpackPlugin.options.body %>
  </body>
</html>
