<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="InfluxDB Cloud provides the fastest way to access the most powerful time series database as a service. InfluxDB Cloud is much more than just a database."
    />
    <title>InfluxDB Cloud</title>
    <base href="/" />
    <%= htmlWebpackPlugin.options.header %>
  </head>
  <body>
    <div
      id="react-root"
      data-basepath="<%= htmlWebpackPlugin.options.base %>"
    ></div>
    <%= htmlWebpackPlugin.options.body %>
  </body>
</html>
