@import 'src/style/modules';

.flux-function-docs {
  width: 420px;
  height: 330px;
}

.flux-function-docs--heading {
  font-weight: $cf-font-weight--bold;
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-2xs;
  display: inline-block;
  width: 100%;

  article:first-child & {
    margin-top: 0;
  }
}

.flux-function-docs--snippet {
  background-color: $cf-grey-5;
  border-radius: $cf-radius;
  margin: $cf-space-3xs 0;
  padding: $cf-space-2xs;
  font-family: $cf-code-font;
}

.flux-function-docs--arguments {
  span:first-child {
    font-weight: $cf-font-weight--bold;
    color: $c-pool;
    margin-right: $cf-space-3xs;
  }

  span:nth-child(2) {
    color: $c-rainforest;
    font-style: italic;
    margin-right: $cf-border;
  }

  div {
    margin: $cf-space-3xs 0 $cf-space-s 0;
  }
}
