@import '@influxdata/clockface/dist/variables.scss';

.remote-csv-card {
  display: flex;
}

.remote-csv--dropdown {
  flex: 0 0 300px;
  margin-right: $cf-space-2xs;
}

.remote-csv-url-input {
  flex: 4;
  width: 100%;
}
