@import '@influxdata/clockface/dist/variables.scss';

.hover-legend-toggle,
.legend-orientation-toggle,
.legend-opacity-slider,
.legend-colorize-rows-toggle {
  margin-top: $cf-marg-b;
  margin-bottom: $cf-marg-c;

  label.legend-orientation-label {
    color: $g11-sidewalk;
  }
}

.legend-orientation--horizontal {
  margin-bottom: $cf-marg-b !important;
}
