@import '@influxdata/clockface/dist/variables.scss';

.hover-legend-toggle,
.legend-orientation-toggle,
.legend-opacity-slider,
.legend-colorize-rows-toggle {
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-s;

  label.legend-orientation-label {
    color: $cf-grey-65;
  }
}

.legend-orientation--horizontal {
  margin-bottom: $cf-space-2xs !important;
}
