use InfluxDB2\Client;

# You can generate a Token from the "Tokens Tab" in the UI
$token = '<%= token %>';
$org = '<%= org %>';

$client = new Client([
    "url" => "<%= server %>",
    "token" => $token,
]);

$query = "<%= query %>";
$tables = $client->createQueryApi()->query($query, $org);

foreach ($tables as $table) {
    foreach ($table->records as $record) {
        $time = $record->getTime();
        $measurement = $record->getMeasurement();
        $field = $record->getField();
        $value = $record->getValue();
        print "$time $measurement: $field=$value\n";
    }
}

$client->close();
