$query = "<%= query %>";
$tables = $client->createQueryApi()->query($query, $org);

foreach ($tables as $table) {
    foreach ($table->records as $record) {
        $time = $record->getTime();
        $measurement = $record->getMeasurement();
        $field = $record->getField();
        $value = $record->getValue();
        print "$time $measurement: $field=$value\n";
    }
}
