.flows-index--control-bar {
  .cf-page-control-bar--fixed {
    padding: 0px;
  }
}

.buttonMode {
  animation: fadeIn 0.5s;
}

.flows-index--presetButtons {
  animation: fadeIn 0.5s;
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.withButtonHeader {
  flex: 1;
  height: auto;
  .cf-page-header--fixed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.buttonModeList {
  grid-gap: 0;
  width: 50%;
  margin-bottom: 14px;
}
