@import '@influxdata/clockface/dist/variables.scss';

.flow-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25em;
  color: $g10-wolf;
  user-select: none;

  p {
    margin: 0.25em 0;
  }

  strong {
    color: $g18-cloud;
  }

  > *:last-child {
    margin-bottom: 8em;
  }
}

.flow-empty--graphic {
  width: 540px;
  height: 300px;
  background-image: url('~assets/images/flows-empty.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.flow-empty--buttons {
  margin-top: $cf-marg-c;
}
