.flows-header-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/logo.svg');
  text-align: end;
  height: 50px;
  cursor: pointer;
}

.flows-header-column-signup {
  text-align: end;
}

.flows-header-row {
  margin-top: 64px;
}
