/* Free Forever Info
  ------------------------------------------------------------------------------
  Lists Org Limits and their values
*/
.org-limit {
  margin: 0 0 $cf-marg-c;
  position: relative;
}

.org-limit--stat {
  text-align: right;
  font-size: $cf-text-base-4;
  font-weight: 500;
  color: $g18-cloud;
}

/*
  Conversion Panel
  ------------------------------------------------------------------------------
*/

.conversion-panel--list {
  -webkit-columns: 2 250px;
  -moz-columns: 2 250px;
  columns: 2 250px;
  margin: $cf-text-base-1 0;
}

.conversion-panel--benefits {
  list-style: none;
  margin: 0;

  > li {
    font-size: $cf-text-base-1;
    padding-left: $cf-marg-d;
    position: relative;
    margin: 0;
    margin-bottom: $cf-marg-c;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: $cf-text-base-1;
      height: $cf-text-base-1;
      border-radius: 50%;
      background-color: $c-pool;
    }
  }
}

p.conversion-panel--final-p {
  font-size: $cf-text-base-3;
  text-align: center;
  margin-bottom: 0;
}

.billing-form--frame {
  position: relative;
}

.billing-payment--spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*
  Billing Contact
  ------------------------------------------------------------------------------
*/

.billing--contact-info,
.billing--contact-info * {
  color: $g16-pearl;
  height: 30px;
  padding: $cf-marg-b 11px;
  font-size: 12px;
  font-weight: 600;
}

.billing-contact--alert {
  margin-bottom: $cf-marg-c;
}

/*
  Payment Method
  ------------------------------------------------------------------------------
*/

.payment-method-panel strong {
  color: $c-laser;
  margin-bottom: $cf-marg-d;
}

/*
  Notifications
  ------------------------------------------------------------------------------
*/

.billing-notification p {
  display: inline;
  text-align: left;
  justify-content: left;
}

.billing-notification button {
  text-align: right;
  float: right;
  justify-content: right;
}

/*
  Invoices
  ------------------------------------------------------------------------------
*/

.list-item {
  margin-bottom: $cf-marg-a;
  padding: $cf-marg-c 24px $cf-marg-c $cf-marg-c;
  background-color: $g4-onyx;
  border-radius: $cf-radius;
  width: 100%;

  .invoice-details {
    text-align: right;
  }

  &:hover {
    background-color: $g5-pepper;
  }
}

.invoice-status {
  width: 80px;
}

.invoice-status.paid {
  color: $c-rainforest;
}

.invoice-headers {
  justify-content: space-between;

  .invoice-header {
    text-align: right;

    &:first-of-type {
      margin-left: 0;
      text-align: left;
    }
  }
}
