.account-settings-page-org-tab--searchwidget-container {
  width: 400px;
  padding: 0px 12px 10px 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.account-settings-page-org-tab--sort-dropdown-container {
  width: 280px;
  padding: 0px 12px 10px 12px;
  margin-bottom: 20px;
}
