@import '@influxdata/clockface/dist/variables.scss';

.account--organizations-tab-orgs-card {
  margin-top: $cf-space-2xs;
  margin-bottom: $cf-space-2xs;
  background-color: $cf-grey-15;
  border-radius: 2px;
}

.account--organizations-tab-orgs-card-orgname {
  font-size: $cf-text-base-1;
  color: $cf-white;
  font-weight: 700;
}

.account--organizations-tab-orgs-card-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.account--organizations-tab-orgs-card-cluster-data {
  width: 260px;
}
