@import '@influxdata/clockface/dist/variables.scss';

.write-data--search-bar {
  width: 100%;
  margin-bottom: $cf-space-m;
}

.write-data--scroll-section {
  .cf-page-contents__fixed {
    padding: 0 $cf-space-m 0 0;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-md) {
  .write-data--search-bar {
    width: 50%;
  }
}