.account-page--tab-contents {
  padding-top: 0px !important;
  display: flex;
}
.Subir.ScrollbarsCustom {
  display: flex;
  flex: 1;
  > .ScrollbarsCustom-Wrapper
    > .ScrollbarsCustom-Scroller
    > .ScrollbarsCustom-Content {
    height: 100% !important;

    > .cf-page-contents__fluid {
      height: inherit;
    }
  }
}
