.account-settings--header {
  margin-bottom: 25px;
}

.account-settings--account-name {
  margin-bottom: 8px;
}

.account-settings--name-input {
  width: 250px !important;
}
.account-settings--deactivate-description {
  margin-top: 20px;
  max-width: 550px;
}

.account-settings--divider {
  margin-top: 32px;
  max-width: 550px;
}

.account-settings--deactivate-button {
  margin-top: 15px;
}

.account-settings-deleteAccount {
  margin-top: 30px;
}
.account-settings--deleteHeading {
  margin-bottom: 16px;
  margin-top: 24px;
}

.account-settings-deleteAccount--overlay {
  margin: 32px 0;
}
