@import '@influxdata/clockface/dist/variables.scss';
.refresh-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $cf-space-2xs + 4px $cf-space-2xl;
  &.reverse {
    flex-direction: row-reverse;
  }
}

.refresh-form-container-child {
  flex: 1;
  &.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &.inactive {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.refresh-form-column {
  display: grid;
}

.refresh-timeout-span {
  flex: 1;
}

.refresh-form-buttons {
  display: flex;
  justify-content: flex-end;
  padding: $cf-space-s $cf-space-3xs $cf-space-2xs $cf-space-3xs;
}

.refresh-form-cancel-button {
  width: 140px;
  justify-self: end;
}

.refresh-form-activate-button {
  width: 140px;
}

.refresh-form-timeout-dropdown {
  padding: 0 0 0 $cf-space-2xs;
  flex: 1;
}

.refresh-form-time-label {
  font-size: 13px;
}

.timerange-dropdown {
  justify-self: end;
  width: 178px;
}

.refresh-form-timerange-toggle {
  margin: 0px $cf-space-2xs;
}

.refresh-input {
  width: 100px;
}
