.rate-limit-overlay {
  .rate-limit-overlay--content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    .rate-limit-overlay--image {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../assets/images/plugin-simple.svg');
      flex-shrink: 0;
      width: 247px;
      height: 260px;
    }
  }

  h4 {
    margin: $cf-marg-b 0;
  }

  .rate-alert--request-increase {
    color: $c-pool;
    font-weight: 700;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $c-laser;
      transition: color 0.25s ease;
    }
  }

  .rate-alert-form-details {
    height: 400px;
  }

  .rate-alert--request-increase-button {
    display: inline-block;
  }
}

@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .rate-limit-overlay {
    .rate-limit-overlay--content {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-around;
      text-align: left;

      .rate-limit-overlay--image {
        width: 40%;
      }
    }

    form {
      width: 60%;
    }
  }
}
