.secrets-context-menu {
  padding-right: $cf-form-md-padding;
}
.warning-panel-icon {
  font-size: 24px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(232, 91, 28) 0%,
    rgb(255, 185, 74) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.warning-panel {
  margin-bottom: $cf-marg-b;
}

.warning-panel-body {
  padding: $cf-form-xs-padding 500px
}
