.overlay-header--color.overlay-header--title {
  color: #fff;
  justify-content: center;
  user-select: text !important;
  -moz-user-select: text !important;
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
  -o-user-select: text !important;
}

.cf-overlay--body {
  .overlay-button--link {
    padding: $cf-space-2xs $cf-space-s;
  }
}
.org-overlay-header--text {
  font-size: 20px;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 20px;
}
