@use 'src/identity/components/GlobalHeader/GlobalHeaderStyle.scss' as gh;

// Reduce size of page headers
.multi-org .cf-page-header {
  height: 46px !important;
  flex: 0 0 46px !important;
  margin-bottom: 14px !important;
}

// Adjust most pages for multi-org by changing the size of the Dapper Scroll Bar wrapper.
.multi-org .cf-page-contents > .ScrollbarsCustom-Wrapper {
  height: calc(100% - gh.$globalheader-height);
}

// Page-specific fix for Data Explorer - Classic
.multi-org .data-explorer > .time-machine > .cf-draggable-resizer {
  height: calc(100% - gh.$globalheader-height);
}

// Page-specific fix for Data Explorer - New
.multi-org .flux-query-builder--container {
  height: calc(100% - gh.$globalheader-height);
}
