/*
   User Page Styles
   -----------------------------------------------------------------------------
*/

@import '../../style/modules';

.recent-dashboards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.25em;
}

.recent-dashboards--item {
  margin-bottom: $cf-space-2xs;
  white-space: nowrap;
  word-break: break-all;
  padding-right: $cf-space-s;
}

.recent-dashboards--filter {
  margin-bottom: $cf-space-2xs;
}

.tutorials-list,
.docslinks-list,
.useful-links {
  padding: 0;
  list-style: none;
  margin-top: 5%;
}

.tutorials-list > li {
  font-size: 1.25em;
  background-color: $cf-grey-5;
  border-radius: $radius;
  padding: $ix-marg-c;
  margin-bottom: $ix-marg-a;
}

.docslinks-list > li {
  font-size: 1.25em;
  background-color: transparent;
  border-radius: $radius;
  padding: 8px;
  margin-bottom: $ix-marg-a;
}

.useful-links > li {
  margin-bottom: $cf-space-2xs;
  padding: 0;
}
