$fontcolor: #666666;
$black: #000;
$sidebar-search-bg: rgb(70, 70, 82);
$sidebar-search-shadow: rgba(#0f0e15, 0.5);
$article-heading: #ffffff;
$article-hr: #383846;
$article-text: #d4d7dd;
$article-link: #00a3ff;

@import '@influxdata/clockface/dist/variables.scss';

#spotlight_wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.DocSearch-Modal {
  background: $sidebar-search-bg;
  box-shadow: none;
}

.DocSearch-Footer {
  background: none;
  box-shadow: none;
  .DocSearch-Commands {
    display: none !important;
  }
}
.DocSearch-Container {
  background: transparent;
}

.DocSearch-Hit-source {
  color: $article-heading;
  background: none;
  font-size: 1em;
}

.DocSearch-Hit-title {
  color: $article-text;
  font-size: 1em;
}

.DocSearch-Hit a {
  background: #565763;
  box-shadow: none;
  color: $article-text !important;
}

.DocSearch-Hit-content-wrapper {
  overflow-x: clip;
}
.DocSearch-Form {
  display: block;
  width: 628px;
  height: 56px;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1.6rem;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: white;
  background-color: #33333e;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNyAyMi41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjguMSIgY3k9IjguNCIgcj0iNi44Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjEzLjIiIHkxPSIxMi45IiB4Mj0iMjEuNSIgeTI9IjIxLjQiLz48L3N2Zz4=);
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 3.5%;
  padding: 0 52px;
  label {
    display: none;
  }
  color: white;
}

.DocSearch-Input {
  color: white;
}

.searchbox {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 32px !important;
  white-space: nowrap;
  box-sizing: border-box;
  visibility: visible !important;
}

.searchbox .algolia-autocomplete {
  display: block;
  width: 100%;
  height: 100%;
}

.searchbox__wrapper {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: relative;
}

.DocSearch-Reset {
  top: 17px;
  position: absolute;
  right: 10px;
}

.DocSearch-Dropdown::-webkit-scrollbar-thumb {
  border: none;
}

.DocSearch-Dropdown::-webkit-scrollbar {
  width: 6px;
}
