/* Cards */
.plan-type-panel {
  .cf-panel--body.cf-flex-box__column {
    flex-direction: column;
  }
  .plan-type-panel--detail {
    flex-grow: 1;
    flex-basis: 100%;
    margin-bottom: $cf-marg-a;

    &:last-child {
      margin-bottom: 0;
    }

    .cf-panel--body {
      font-weight: 500;
      font-size: $cf-text-base-1;
      line-height: $cf-text-base-1;

      span.money {
        color: $c-rainforest;
        font-weight: 700;
      }
    }

    .billing--update-frequency {
      font-size: $cf-text-tiny;
      text-align: right;
      color: $g8-storm;
    }
  }
}

/* Section Headers */
.cf-heading.section-header {
  width: 100%;
  font-size: $cf-text-base-5;
  margin: $cf-marg-d 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  small {
    letter-spacing: 0;
    font-size: 19px;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
  }
}

/* ------- Legal Agreement --------- */
@media screen and (min-width: $cf-grid--breakpoint-sm) {
  .plan-type-panel {
    .cf-panel--body.cf-flex-box__column {
      flex-direction: row;
    }
    .cf-grid--row {
      display: inline-flex;
    }

    .plan-type-panel--detail {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: $cf-marg-c;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
    .usage--plot {
      min-height: 250px;
    }
    .usage--plot::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 38%;
    }

    .graph-type--panel {
      flex-grow: 1;
      margin-bottom: 0;
      margin-right: $cf-marg-c;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
}
