.create-task-titles {
  font-size: 20px;
  font-weight: bold;
}

.cf-form--footer > * {
  margin: 0px !important;
}

.schedule-task {
  margin-top: 30px !important;
}

.schedule-task p {
  margin-top: 5px !important;
}

.name-task {
  margin-top: 15px !important;
}

.task-name-input {
  margin-top: 10px !important;
}

.select-script {
  margin-top: 30px !important;
}

.script-dropdown {
  margin-top: 15px !important;
}

.task-form-field {
  margin-top: 15px !important;
}
