.variables-control-bar {
  .toolbar--contents {
    padding: $cf-marg-b - $cf-border;
  }
}

.variable-dropdown--container {
  position: relative;
  margin: $cf-border;
}

.variables-control-bar--grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
