.run-logs--list {
  width: 100%;
  max-width: calc(100% - 60px) !important;
}

.run-logs--list-time {
  white-space: nowrap;
}

.run-logs--list-message {
  white-space: pre-wrap;
  word-break: break-all;
}

.run-logs--list-flux {
  white-space: pre-wrap;
  word-break: break-all;
  height: 30vh;
}
