.run-logs--list {
  width: 100%;
  max-width: calc(100% - 60px) !important;
  height: 100%;
}

.run-logs--list-time {
  white-space: nowrap;
}

.run-logs--list-message {
  white-space: pre-wrap;
  word-break: break-all;
}

.run-logs--list-flux {
  position: relative;
  white-space: pre-wrap;
  word-break: break-all;
  width: 100%;
  height: 30vh;
}

@supports (-moz-appearance: none) {
  tr.run-log--list-row td {
    height: 100%;
  }
}

tr.run-log--list-row {
  height: 30vh;
}
