/*
   Tasks Page Styles
   -----------------------------------------------------------------------------
*/

.hidden-tasks-alert {
  font-size: 13px;
  font-weight: 600;
  margin-top: ($ix-border * 0.5);
  width: 100%;
  background-color: rgba($cf-grey-15, 0.5);
  text-align: center;
  @include no-user-select();
  color: $cf-grey-45;
  padding: $ix-marg-b;
  border-radius: $radius;
  font-style: italic;
}

.task-header--cta {
  font-size: 16px;
}
